* {
  margin: 0;
  padding: 0;
  background-image: none;
}

body {
  font-family: sans-serif;
  background-color: rgba(97, 40, 231, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
}

.title {
  color: rgb(5, 3, 10);
}

.containerWeather {
  text-align: center;
  background-color: rgb(86, 76, 230);
  width: 60%;
}

/* Estilos para el botón de obtener clima */
